.text {
  margin: 25px;
}

h1 {
  font-family: SpaceGrotesk-Light;
  color: #fff;
  line-height: 1.2;
  font-weight: 500;
  font-size: 64px;
  margin-bottom: 40px;
}

.card-body .card-title {
  font-family: SpaceGrotesk-Medium;
  max-width: 520px;
  font-weight: 700;
  color: #010101;
  font-size: 16px;
}

h2 {
  font-family: SpaceGrotesk-Medium;
  max-width: 520px;
  text-transform: uppercase;
  color: #fff;
  font-size: 16px;
}


.intro {
  font-size: clamp(3rem, 15vmin, 8rem);
  font-family: sans-serif;
  color: hsl(0 0% 98%);
  background: hsl(210 30% 24%);
  text-align: center;
}

.welcomewords {
  margin: 20px 40px 20px 40px;
  border: 5px;
  border-bottom: 1rem solid;
  border-color: hsl(210 30% 24%);
  background-color: #e3eff5;
  text-align: center;
}

#restaurant-card {
  margin: 10px 5px 10px 5px;
}

#cafelist {
  margin: 20px 40px 20px 40px;
}

#cafelist .h2 {
  margin-bottom: 30px;
}

.row.text-center {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.col-md-4 p {
  box-shadow: 0 0 5px #b0cfe0;
  border: 1px solid #b0cfe0;
  padding: 8px;
  font-family: SpaceGrotesk-Medium;
}

.col-md-4 {
  background: #fafafa;
  padding: 30px;
  box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
  border-radius: 10px;
  border: 6px solid #305a72;
  max-width: 450px;
  margin: 50px auto;
}
