#nav-bar {
  position: sticky;
  top: 0;
  z-index: 10;
}

.navbar {
  background-image: url("images/GhibliWallpaper.png");
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 0;
}

.logo {
  margin: 0;
  text-align: center;
  height: 50px;
  width: 50px;
}
.navbar-nav li {
  padding: 0 10px;
}

.navbar-nav li a {
  color: #557b83;
  font-weight: 600;
  float: right;
  text-align: left;
}
.fa-bars {
  color: #557b83;
  font-size: 30px;
}
